.progressContainer {
    display: flex;
    gap: 2px;
}

.progressSection {
    height: 1rem;
    border-radius: 2px;
    background: var(--mid-grey);
    font-family: 'AuX DotBitC';
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.mainSection {
    background: var(--green);
}

.sideSection {
    background: var(--grey-green);
}