.progressContainer {
    display: flex;
    gap: 2px;
}

.progressSection {
    height: 1rem;
    border-radius: 2px;
    background: var(--mid-grey);
    font-family: 'AuX DotBitC';
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: help;
}

.mainSection {
    background: var(--green);
}

.sideSection {
    background: var(--grey-green);
}

.titleSection {
    background: var(--yellow);
    animation: glow 1s linear infinite;
}

@keyframes glow {
    0%, 100% {
        background: var(--yellow);
        box-shadow: 0 0 0px var(--yellow);
    }
    50% {
        background: var(--gold);
        box-shadow: 0 0 5px var(--gold);
    }
}