.gameListContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exportButton,
.resetButton {
    position: relative;
    background: var(--light-grey);
    outline: none;
    border: 1px solid hsl(0 0 80);
    padding: .2rem 1rem .3rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exportButton {
    color: var(--purple);
}

.resetButton {
    color: var(--pomegranate);
    font-weight: bold;
}

.exportButton:hover {
    background: hsl(0 0 90);
}

.exportButton:active::after {
    content: "copied to clipboard!";
    position: absolute;
    inset: 0;
    background: hsl(0 0 95);
    padding-block: .2rem .3rem;
    border-radius: 5px;
}

.exportIcon,
.warningIcon {
    height: 1rem;
    margin-left: 1rem;
    position: relative;
}

.exportIcon {
    &>path {
        fill: var(--purple);
    }
}

.warningIcon {
    top: 1px;

    &>path {
        fill: var(--pomegranate);
    }
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-block: 1rem;
    border-bottom: 1px dashed var(--mid-grey);
}

.gameItemsContainer {
    width: 30rem;
    padding-block: .5rem 1rem;
}